<%- include('includes/head.ejs') %>
<main>

    <%- include('includes/imageBox.ejs') %>
    <section class="game">
        <h1>Chat</h1>
        <ul></ul>
        <p class="hide">A user has joined</p>
        <p class=hide>A user has disconnected</p>
        <form id="chat">
            <input type="text" autocomplete="off" id="answerInput">
            <button><span>Send</span></button>
        </form>
    </section>
</main>

<%- include('includes/footer.ejs') %>