<%- include('includes/head.ejs') %>
<main class="login">
    <section>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1600px-Marvel_Logo.svg.png?20161025051221"
            alt="marvel logo red white">
            <h1>Guess the character</h1>
            <p>Voordat je kan beginnen moet je een username invullen</p>
        <form action="/game" method="GET">
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" required />
            <button>Begin</button>
        </form>
    </section>
</main>

<%- include('includes/footer.ejs') %>